.right{
    float: right;
}

.user_input{
    width: 250px;
    border: 1px solid black;
}

.results{
    width: 250px;
    border: 1px solid black;
}

img {
    border: 1px solid black;
    float: left;
}