.right{
    float: right;
}

.user_input, .results{
    width: 250px;
}

.user_input{
       position: relative;
       bottom: 550px;
       left: 82%;
       z-index: 500;
       opacity: 0.7;
}

.results{
    position: relative;
       bottom: 550px;
       left: 82%;
       z-index: 500;
       opacity: 0.7;
}

img {
    border: 1px solid black;
    float: left;
}