<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZIoOX8afLsDVhpqC788YraO1ApQLwwcg">
    </script>
    <script type="text/javascript">
        var cities = [
          new google.maps.LatLng(36.1667, -86.7833),
          new google.maps.LatLng(38.8951,-77.0367),
          new google.maps.LatLng(33.7550, -84.3900),
          new google.maps.LatLng(30.2500, -97.7500)
        ];

        var cityname = [
        ];

        var markers = [];
        var iterator = 0;

        var map;
        var image = "static/img/map-icon/star.png";

        function initialize(){
            
            var mapOptions = {
                center: { lat: 39.8282, lng: -98.5795},
                zoom: 5,
                mapTypeId: google.maps.MapTypeId.TERRAIN,
                disableDefaultUI: true
            };
            map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
        }

        function drop() {
          for (var i = 0; i < cities.length; i++) {
            setTimeout(function() {
              addMarker();
            }, i * 200);
          }
        }

        function addMarker() {
          markers.push(new google.maps.Marker({
            position: cities[iterator],
            map: map,
            draggable: false,
            animation: google.maps.Animation.DROP,
            icon: image,
            title: cityname
          }));
          iterator++;
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
    <div id="panel" style="margin-left: 50px">
      <button id="drop" onclick="drop()">Drop Markers</button>
     </div>
    <div id="map-canvas"></div>
</body>
</html>
